<html>
<head>
	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Sukanta Login</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href = "/register" class="waves-effect waves-light btn"> Register </a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
 
 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="img/sukanta.JPEG" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>
     

          
<title> Sukanta Login Application|
{% block title %}{% endblock %}</title>
</head>
<body>
<h1> {% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}
</body>
</html>